#featured {
  img {
    height: 100%;
    object-fit: cover;
  }
}

.card {
  border-radius:4px;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    top:50%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
  }
  figcaption {
    position: absolute;
    padding: 24px;
    color: white;
    text-align: left;
    transition: 0.3s;
    bottom:0;
    text-overflow: ellipsis;
   

    &:has(.text-lg){
      padding: 12px;
    }

    h2{
      margin-top: 8px;
    }
  }
}